.left-nav{

  /*font-size: 14px;*/
  margin-left: -40px;
}

.left-nav a{
  color: #0085A1;
}
.content{

  padding-left: 40px;
}

ul{
  list-style-type: none;
}

p{
  margin: 10px 0px;
}


/*pre{

  background-color: #272822;
  color: #d25252;
}


.key-word{
  color: #66ccb3;
}*/