.left-nav{

  /*font-size: 14px;*/
  margin-left: -40px;
}

.left-nav a{
  color: #0085A1;
}
.content{

  padding-left: 40px;
}

ul{
  list-style-type: none;
}

p{
  margin: 10px 0px;
}


.letf-nav{

	font-size: 20px;
	list-style: none;
}

.left-nav li a{
	margin-left: 0px;
}

.left-nav li a:hover{
		color: #0085A1;
		background-color: #FFF;

}

