<div class="container main outer">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <nav class="menu">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- {% include blog_topics.html %} -->
            </div>
          </nav>
      </div>
      <div class="col-md-9 col-xs-12 full">
        {{ content }}
      </div> <!-- end /.col-md-9 -->
    </div> <!-- end /.row -->
    <div class="row">
      <div class="col-md-12 col-xs-12 footer">
        {% include footer.html %}
      </div>
    </div>
  </div>
  